@page "/User"

<PageTitle>UserInfoPage</PageTitle>

<div class= "Add-Container-page">
    
    <div class ="add-containre-form">
            <div class="user-container">
                <br />
                <br />
                <img src="/guest.png" class="user-img"/>
            <br />
            <br />
                <h2>Admin</h2>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
                <h4 style="font-family: IRANSans"> ساخته شده توسط ایمان مشایخی</h4>

            </div>
    </div>

</div>


<footer class="footer">
    <a href="/">
        <div class="fbutton">
            <img class="icon" src="/Footer/home.png" />
        </div>
    </a>

    <a href="movies/bookmark">
    <div class="fbutton">
        <img class="icon" src="/Footer/bookmark.png" />
    </div>
    </a>


    <a href="/Movies/search">
        <div class="fbutton">
            <img class="icon" src="/Footer/search.png" />
        </div>
    </a>
        <div class="fbutton active">
            <img class="icon" src="/Footer/user.png" />
            <span class="label">User</span>

        </div>
</footer>
@code {

}
